
$text-head: 36px!important;
$text-subhead: 28px!important;
$text-body: 16px!important;
$text-title: 14px!important;
$text-description: 12px!important;
$text-small: 10px!important;
$text-xsmall: 8px!important;